<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" 
    xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    
    <!-- Página por defecto si no ponemos nada -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <!-- Servlet para la gestión de usuarios -->
    <servlet>
         <!-- Es como una variable, le asigno un nombre 
            a una clase que es la que contiene mi servlet -->
        <servlet-name>UserManagement</servlet-name>
        <!-- Aquí le damos la ruta completa (classpath), 
            incluyendo el paquete -->
        <servlet-class>com.iesvdc.acceso.simplecrud.controller.UserManagement</servlet-class>
    </servlet>
    <!-- Mapeo Ruta <===> Servlet -->
    <servlet-mapping>
        <servlet-name>UserManagement</servlet-name>
        <!-- Ruta en el servicio Web -->
        <url-pattern>/user</url-pattern>
        <url-pattern>/user/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LibroManagement</servlet-name>
        <servlet-class>com.iesvdc.acceso.simplecrud.controller.LibroManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LibroManagement</servlet-name>
        <url-pattern>/libro</url-pattern>
        <url-pattern>/libro/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PrestamosManagement</servlet-name>
        <servlet-class>com.iesvdc.acceso.simplecrud.controller.PrestamosManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrestamosManagement</servlet-name>
        <url-pattern>/prestamo</url-pattern>
        <url-pattern>/prestamo/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResennaManagement</servlet-name>
        <servlet-class>com.iesvdc.acceso.simplecrud.controller.ResennaManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResennaManagement</servlet-name>
        <url-pattern>/resenna</url-pattern>
        <url-pattern>/resenna/*</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>com.iesvdc.acceso.simplecrud.controller.AuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/user/*</url-pattern>
        <url-pattern>/libros/*</url-pattern>
        <url-pattern>/resenna/*</url-pattern>
        <url-pattern>/privado/*</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>com.iesvdc.acceso.simplecrud.controller.CORSFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>


    <servlet>
        <servlet-name>jersey-servlet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.iesvdc.acceso.simplecrud.controller.service</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jersey-servlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

</web-app>
